.footer {
    min-height: 300px;
    padding: 50px 0;
}

.footer__text {
    text-align: center;
    color: #000;
}

.footer__phone {
    font-size: 25px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.footer__socials {
    display: flex;
    justify-content: space-around;
    margin: 0 650px;
    margin-top: 40px;
}

.footer__social {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__icon {
    width: 100%;
}